@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
* {
    margin: 0px;
    padding: 0px;
}

.header {
   
    background-color: #E5E5E5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.navbarImages{
    height: 1rem;
    width: 1rem;
  }
  .Navlinks{
    padding: 0.5rem;
    color: black;
  }
  .NavDropdown{
    color: black;
  }
.body-container{
  background-color: #f3f3f3 ;
  background: #F9F9F9;
  border: 2px solid #EB5151;
  box-sizing: border-box;
  border-radius: 8px;
}
.cart-text{
  padding-left:20px ;
  padding-top: 5px;
}
.cart{
 display: flex;
 align-items: center; 
}
.payment-bar{
  margin: 10px;
  width: 287px;
  height: 436px;
}
.content_div
{
  background-color:#FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.dropdown-btn{
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: auto;
  width: 287px;
  height: 35px;
  text-align: center;
  color: black;
  
}
.payment-dropdown{
  display:flex;
  justify-content: center;
  background-color: #FFFFFF;
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
  padding: 20px;
  margin-top: 20px;
}
.payment-gateway{
  display:flex;
  justify-content: center;
  background-color: #FFFFFF;
  
  padding: 10px;
}
.btn2
{
  
  display: flex;
  width: 224px;
  height: 32px;
  justify-content: center;
  background: #FF5454;
  border-radius: 16px;
}
.payment-down-btn{
  display:flex;
  justify-content: center;
  background-color: #FFFFFF;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
  padding: 20px;
}


/* .inner-card{
  margin: 20px;
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
} */
